{% extends 'view/layout.html' %}

{% block content %}
<div class="container text-center my-5">
    <h2 class="mb-4">What we do</h2>
    <div class="row justify-content-between gap-1 d-flex flex-wrap  text-center">
        <div class="col-lg-3 col-md-3 col-sm-12 mb-4 bg-light rounded p-3">
            <img src="{{ url_for('static', filename='uploads/1006.jpg') }}" alt="fruits" class="mb-3" width="80">
            <h5>Fruits</h5>
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.p</p>
            <li class="btn btn-success"><a class="nav-link text-white text-decoration-none" href="/fruits">Show All</a></li>
          </div>
        <div class="col-lg-3 col-md-3 col-sm-12 mb-4 bg-light rounded p-3">
          <img src="{{ url_for('static', filename='uploads/randy-fath-5aJVJvJ9rG8-unsplash.jpg') }}" alt="Légume" class="mb-3" width="80">
          <h5>Vegetable</h5>
          <p>Aliquam erat volutpat. Suspendisse potenti. Integer in purus nec.</p>
          <li class="btn btn-success"><a class="nav-link text-white text-decoration-none" href="/index">Show All</a></li>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 mb-4 bg-light rounded p-3">
          <img src="{{ url_for('static', filename='uploads/4_log_13_12_2021_17.jpg') }}" alt="Maïs" class="mb-3" width="80">
          <h5>graines_sèches</h5>
          <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
          <li class="btn btn-success"><a class="nav-link text-white text-decoration-none" href="/graines">Show All</a></li>
        </div>
      </div>      
</div>
{% endblock %}
