body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  text-align: center;
}
.hero h1 {
  color: #198754;
  font-size: 3.5rem;
  font-weight: bold;
}
.hero p {
  color: #198754;
  font-size: 1.5rem;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  background-color: #198754; 
  padding: 1.5rem;
  color: white;
  overflow-y: auto;
  display: none; 
  flex-direction: column;
  z-index: 1030;
}
#sidebar h4 {
  color: white;
  margin-bottom: 1rem;
}
#sidebar .nav-link {
  color: white;
  padding-left: 0;
}
#sidebar .nav-link:hover {
  color: #d4d4d4;
  background: none;
}
@media(min-width: 992px) {
  #sidebar {
    display: flex;
  }
  main {
    margin-left: 220px;
  }
}
#content{
  margin-left: 16%;
}
.tableClient{
  margin-left: 16%;
}

.save{
  margin-left: 20%;
}