body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.all{
  margin-left: 1%;
}
#sidebar a {
      display: block;
      padding: 10px 20px;
      color: #333;
      text-decoration: none;
}
#sidebar a:hover 
{ 
  background: #d1e7dd;
}
.main {
  margin-left: 220px;
  padding: 30px;
 }
.card-box { 
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
   border-radius: 12px; 
}
footer{
  background: #95d3b0 !important;
}
.hero {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  text-align: center;
}
li a{
  color: black !important;
}
.hero h1 {
  color: #198754;
  font-size: 3.5rem;
  font-weight: bold;
}
.hero p {
  font-size: 1.7rem;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  width: 220px; 
  min-height: 100vh;
  background: #95d3b0;
  padding-top: 20px;
  padding: 1.5rem;
  color: rgb(7, 7, 7);
  overflow-y: auto;
  display: none; 
  flex-direction: column;
  z-index: 1030;
}
#sidebar.hidden {
  transform: translateX(-100%);
}

@media (min-width: 868px) {
  #sidebar {
    transform: none !important;
  }

  #menuToggle {
    display: none;
  }
}

#main-content {
  margin-left: 0;
}

@media (min-width: 768px) {
  #main-content {
    margin-left: 250px;
  }
}
#sidebar h4 {
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}
#sidebar .nav-link {
  color: rgb(8, 8, 8);
  padding-left: 0;
}
#sidebar .nav-link:hover {
  color: #d4d4d4;
  background: none;
}
@media(min-width: 992px) {
  #sidebar {
    display: flex;
  }
  main {
    margin-left: 220px;
  }
}
.tableClient{
  margin-left: 16%;
}


.sidebar {
  width: 220px;
  min-height: 100vh;
  background:  #95d3b0;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
}
.sidebar a {
  display: block; padding: 10px 20px; color: #333; text-decoration: none;
}
.sidebar a:hover { background: #d1e7dd; }
.main { margin-left: 220px; padding: 30px; }
.card-box { box-shadow: 0 0 10px rgba(0,0,0,0.05); border-radius: 12px; }
