{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h4 class="text-center mb-4">Our Gallery</h4>

    <!-- Filtres -->
    <div class="row d-flex justify-content-center flex-wrap gap-2 mb-4">
        <button class="btn btn-outline-success filter-btn text-white col-md-2" data-filter="all">Tous</button>
        <button class="btn btn-outline-success filter-btn text-white col-md-2" data-filter="fleurs">Fleurs</button>
        <button class="btn btn-outline-success filter-btn text-white col-md-2" data-filter="plantes">Plantes</button>
        <button class="btn btn-outline-success filter-btn text-white col-md-2" data-filter="exterieur">Extérieur</button>
    </div>

    <!-- Galerie -->
    <div class="row">
        {% set images = [
            ('chantal-garnier-910GanwBoew-unsplash.jpg', 'fleurs'),
            ('hoach-le-dinh-c8TWWQ5ZnUw-unsplash.jpg', 'plantes'),
            ('inigo-de-la-maza-s285sDw5Ikc-unsplash.jpg', 'exterieur'),
            ('image_4.jpg', 'fleurs'),
            ('sinitta-leunen-DeMtgCQU1Lw-unsplash.jpg', 'exterieur'),
            ('randy-fath-5aJVJvJ9rG8-unsplash.jpg', 'plantes'),
            ('megan-thomas-xMh_ww8HN_Q-unsplash.jpg', 'fleurs'),
            ('mtsjrdl-Bqd8t9_Rh2o-unsplash.jpg', 'plantes'),

            ('image_6.jpg', 'exterieur'),
            ('image_7.jpg', 'plantes'),
            ('r-du-plessis-cXvqCw0m5WE-unsplash.jpg', 'fleurs'),
            ('tuyen-vo-jMxXSbymczg-unsplash.jpg', 'plantes')
        ] %}

        {% for image, category in images %}
        <div class="col-md-3 col-6 mb-4 gallery-item border rounded-2" data-category="{{ category }}">
            <p class="text-dark text-center fw-bold">Produit agricoles.</p>
            <div class="container-fluid w-100">
                <img class="w-100 h-100 gallery-img zoomable" src="{{ url_for('static', filename='uploads/' ~ image) }}" alt="image">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Zoom Modal -->
<div id="zoomModal" class="zoom-modal">
    <span class="zoom-close">&times;</span>
    <img class="zoom-modal-content" id="zoomedImg">
</div>

<!-- JS -->
<script src="{{ url_for('static', filename='js/zoom.js') }}"/></script>
{% endblock %}
